<?php

return array(
    'modules' => array(
        'DoctrineModule',
        'DoctrineMongoODMModule',
        'Blog',
        'Web',
    ),
    'module_listener_options' => array(
        'config_glob_paths' => array(
            __DIR__ . '/odm.config.php'
        ),
        'module_paths' => array(
            './module',
            './vendor',
        ),
    ),
);